<!DOCTYPE html>
<html lang="zh-Hant">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/homepageStyle.css" />
    <title>使用者首頁</title>
  </head>
  <body>
    <div class="header">
      ICD-10編碼查詢平台管理者首頁
      <form action="/adminlogout" method="get">
        <button type="submit" class="logout-btn">登出</button>
      </form>
    </div>

    <div class="nav-container">
      <nav class="user-nav">
        <a href="/admindashboard" class="nav-link">首頁</a>
        <a href="/adminUpdateHistory" class="nav-link">編碼更新紀錄</a>
      </nav>
    </div>

    <div class="search-container">
      <form action="/adminSearch" method="post">
        <input
          type="text"
          placeholder="Search..."
          class="search-input"
          name="searchQuery"
          id="searchQuery"
        />
        <button type="submit" class="search-btn">搜尋</button>
      </form>
    </div>

    <div class="results-table">
      <% if (typeof searchResults !== "undefined") { %>

      <table id="resultsTable">
        <thead>
          <tr>
            <th>2023 ICD-10編碼</th>
            <th>2023 疾病英文名稱</th>
            <th>2023 疾病中文名稱</th>
          </tr>
        </thead>

        <tbody>
          <% searchResults.forEach(function(result) { %>

          <tr>
            <td><%= result['2023_ICD-10-CM'] %></td>
            <td><%= result['2023_ICD-10-CM_english_name'] %></td>
            <td><%= result['2023_ICD-10-CM_chinses_name'] %></td>
          </tr>

          <% }); %>
        </tbody>
      </table>

      <% } %>
    </div>

    <div class="results-table">
      <% if (typeof searchResults2014 !== "undefined") { %>

      <table id="resultsTable">
        <thead>
          <tr>
            <th>2014 ICD-10編碼</th>
            <th>2014 疾病英文名稱</th>
            <th>2014 疾病中文名稱</th>
          </tr>
        </thead>

        <tbody>
          <% searchResults2014.forEach(function(result) { %>

          <tr>
            <td><%= result['2014_ICD-10-CM'] %></td>
            <td><%= result['2014_ICD-10-CM_english_name'] %></td>
            <td><%= result['2014_ICD-10-CM_chinses_name'] %></td>
          </tr>

          <% }); %>
        </tbody>
      </table>

      <% } %>
    </div>

    <div class="results-table">
      <h3>更新2023 ICD10 編碼</h3>
      <form action="/update2023Icd10Coding" method="post">
        <table id="resultsTable">
          <thead>
            <tr>
              <th>2023 ICD-10編碼</th>
              <th>2023 疾病或狀況英文名稱</th>
              <th>2023 疾病或狀況中文名稱</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" name="ICD10CM" id="ICD10CM" required />
              </td>
              <td><input type="text" name="englishName" required /></td>
              <td><input type="text" name="chineseName" required /></td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="submit-btn">提交</button>
        <button
          type="button"
          class="delete-btn"
          onclick="confirmDeleteFromInput()"
        >
          刪除編碼
        </button>
      </form>
    </div>

    <div class="results-table">
      <h3>更新2014 ICD10 編碼</h3>
      <form action="/update2014Icd10Coding" method="post">
        <table id="resultsTable">
          <thead>
            <tr>
              <th>2014 ICD-10編碼</th>
              <th>2014 疾病或狀況英文名稱</th>
              <th>2014 疾病或狀況中文名稱</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td><input type="text" name="ICD10CM2014" required /></td>
              <td><input type="text" name="englishName2014" required /></td>
              <td><input type="text" name="chineseName2014" required /></td>
            </tr>
          </tbody>
        </table>
        <button type="submit" class="submit-btn">提交</button>
        <button
          type="button"
          class="delete-btn"
          onclick="confirmDeleteFromInput2014()"
        >
          刪除編碼
        </button>
      </form>
    </div>

    <script>
      window.addEventListener("load", () => {
        const urlParams = new URLSearchParams(window.location.search);
        const message = urlParams.get("message");
        if (message) {
          alert(message);
        }
      });

      /* document.querySelector(".delete-btn").addEventListener("click", () => {
        const ICD10CM = document.querySelector('input[name="ICD10CM"]').value;

        fetch("/deleteIcd10Coding", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ ICD10CM: ICD10CM }),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
            throw new Error("Network response was not ok.");
          })
          .then((data) => {
            alert(data.message);
          })
          .catch((error) => {
            console.error(
              "There has been a problem with your fetch operation:",
              error
            );
          });
      });*/

      function confirmDeleteFromInput() {
        const ICD10CM = document.querySelector('input[name="ICD10CM"]').value;
        confirmDelete(ICD10CM);
      }

      function confirmDeleteFromInput2014() {
        const ICD10CM2014 = document.querySelector(
          'input[name="ICD10CM2014"]'
        ).value;
        confirmDelete2014(ICD10CM2014);
      }

      function confirmDelete(ICD10CM) {
        if (confirm("您確定要刪除該編碼嗎？")) {
          fetch("/deleteIcd10Coding", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ ICD10CM: ICD10CM }),
          })
            .then((response) => response.json())
            .then((data) => {
              alert(data.message);
              window.location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("刪除操作失敗");
            });
        }
      }

      function confirmDelete2014(ICD10CM2014) {
        if (confirm("您確定要刪除該編碼嗎？")) {
          fetch("/delete2014Icd10Coding", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({ ICD10CM2014: ICD10CM2014 }),
          })
            .then((response) => response.json())
            .then((data) => {
              alert(data.message);
              window.location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
              alert("刪除操作失敗");
            });
        }
      }
    </script>
  </body>
</html>
